<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${entity.name!""}-${(C.name)!"J2CMS"}</title>
<link href="${C.ctp}/template/j2/css/common.css" rel="stylesheet" type="text/css" />
<link href="${C.ctp}/template/j2/css/channel.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="${C.ctp}/template/j2/js/setHeight.js" type="text/javascript"></script>
<script language="javascript">
function pageQuery(page) {
	   //location.href = "/channel?id=${entity.id}&title=${title!""}&page="+page;
	//location.href = "${entity.id!}_"+page+".html";
<#if entity.path == "/">
location.href = "${C.ctp}/C/${entity.id!}_"+page+".html";
<#else>
location.href = "${C.ctp}${entity.path}${entity.id!}_"+page+".html";
</#if>

}
</script>
</head>
<body>
<#include "/head.html" parse=false encoding="UTF-8">
<div id="container">
<div id="conn_banner" style="width:960px">
	<img src="${C.ctp}/template/j2/images/big/banner.png" width="960px" height="200px;" />
</div>	
<div id="main">
    <div id="left" class="left">
            <#include "/left.html" parse=false encoding="UTF-8">
    </div><!--left end-->

    <div id="main1" class="main1">
        <div id="ShowNews">
      
        <div id="Pos">&nbsp;<a href="${C.ctp}/">首页</a>&nbsp;<img src="${C.ctp}/template/j2/images/pos.gif" border=0 />

        <#if entity.path == "/">
        <a href="${C.ctp}/${entity.id?c}.html">${entity.name!""}</a>
        <#else>
        <a href="${C.ctp}${entity.path}index.html">${entity.name!""}</a>
        </#if>
&nbsp;
        <#if title??&&title!=''>[关键字:<font class="red_normal">${title}</font>]</#if>
		</div>
				<div id="News">
                    <ul>
                    <#list entityListVo.entityBeanList as entityBean>
                     <li><img src="${C.ctp}/template/j2/images/arrow_01.gif"/> 
                     <a href="${C.ctp}${entity.contentPath}${entityBean.id?c}.html" title="${entityBean.name}" target="_blank">${(entityBean.name)!""}</a>
                     <span>[${(entityBean.releaseDate)!""}]</span></li>
                     </#list>
                    </ul>
                
           
                 <table width="590" align="center" >
                    <tr>
                    <td align="center">页次&nbsp;<font class="red_normal">${entityListVo.currentPage}/${(entityListVo.totalPage)?c}</font>
                    &nbsp;&nbsp;每页&nbsp;<font class="red_normal">${entityListVo.maxResult}</font>&nbsp;条&nbsp;&nbsp;共&nbsp;
                    <font class="red_normal">${(entityListVo.totalRecord)?c}</font>&nbsp;条</td>
                    <td align="center">
                    <#if (entityListVo.currentPage>1)>
                   	<a  href='#' onClick='pageQuery(1)' >最前页</a>
                    <a  href='#' onClick="pageQuery(${entityListVo.currentPage-1})"  >上一页</a>
                    </#if>
                    <#if entityListVo.currentPage==1>
                   		 最前页&nbsp;上一页
                    </#if>
                    <#if entityListVo.currentPage<entityListVo.totalPage>
                    <a  href='#'  onClick='pageQuery(${entityListVo.currentPage+1})' >下一页</a>
                    <a  href='#' onClick="pageQuery(${entityListVo.totalPage})"  >最后页</a>
                    </#if>
                    <#if entityListVo.currentPage==entityListVo.totalPage>
    			              下一页&nbsp;最后页
       			    </#if>
                   </td>
                   </tr>
                 </table>
                 
                  </div>
				
        </div>	<!--ShowNews end-->
     </div><!--main1 end-->

</div><!--main end-->
<div id="copyright">
    <#include "/foot.html" parse=false encoding="UTF-8">
</div>
  
</div><!--container end-->
</body>
</html>