<div class="footer">
	<div class="footer_body">
		<div class="footer_logo"><img src="${C.ctp}/template/j2/images/logo.png" width="100px" height="50px"></div>
		<div class="footer_line"><img src="${C.ctp}/template/j2/images/line.png" width="300px" height="50px"></div>
		<div class="footer_link">
			<#--关于我们 招贤纳士 联系我们 帮助中心 协议说明 网站地图 用户反馈 合作伙伴--> <wb:follow-button uid="1639717454" type="red_1" width="67" height="24" ></wb:follow-button><!--<a href="https://me.alipay.com/j2cms" target="_blank">捐助捷兔
		</a>--></div>
	
		<div class="beian">
捷兔网络官方网站&nbsp;&nbsp;&copy;${(C.copyright)!"www.j2cms.org"} &nbsp;&nbsp;
  邮箱:${(C.email)!""}&nbsp;
  ${(C.recordCode)!""}
  <script src="http://s87.cnzz.com/stat.php?id=1766140&web_id=1766140" language="JavaScript" charset="gb2312"></script>&nbsp;&nbsp;
</div>
		<div class="copyright">Powered by J2CMS</div>
	</div>
</div>