<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="${C.ctp}/template/j2/css/common.css" rel="stylesheet" type="text/css" />
<link href="${C.ctp}/template/j2/css/channel.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="${C.ctp}/template/j2/js/setHeight.js" type="text/javascript"></script>
<title>${entity.name!""}-${(C.name)!"J2CMS"}</title>
</head>
<body>
<#include "/head.html" parse=false encoding="UTF-8">
<div id="container">  
<div id="conn_banner" style="width:960px">
	<img src="${C.ctp}/template/j2/images/big/banner.png" width="960px" height="200px;" />
</div>		
<div id="main">
    <div id="left" class="left">
		<#include "/left.html" parse=false encoding="UTF-8">
    </div><!--left end-->
        <div id="main1" class="main1">
       		 <div id="ShowNews">
                <div id="Pos">&nbsp;<a href="/${C.ctp}">首页</a>&nbsp;<img src="${C.ctp}/template/j2/images/pos.gif" border="0"/>${entity.name!""}
                </div>
                <div id="Content">
                	<div id="NewsContent">${(entity.content)!""}</div>
                </div>
             </div>
        </div><!--main1 end-->
        <div id="copyright">
			<#include "/foot.html" parse=false encoding="UTF-8">
		</div>
</div><!--main end-->

</div><!--container end-->


</body>
</html>