<div class="artical_menu">
		<div class="artical_menu_title" onmouseover="this.style.background='#ffe6a0'" onmouseout="this.style.background='#fffaeb'"><img src="${C.ctp}/template/wukong/images/aboutus.png" style="vertical-align:middle" /><a href="${C.ctp}/4.html">&nbsp;关于我们</a></div><div class="artical_line"></div>
		<div class="artical_menu_title" onmouseover="this.style.background='#ffe6a0'" onmouseout="this.style.background='#fffaeb'"><img src="${C.ctp}/template/wukong/images/contact.png" style="vertical-align:middle" /><a href="${C.ctp}/17.html">&nbsp;悟空协议</a></div><div class="artical_line"></div>
		<div class="artical_menu_title" onmouseover="this.style.background='#ffe6a0'" onmouseout="this.style.background='#fffaeb'"><img src="${C.ctp}/template/wukong/images/contractus.png" style="vertical-align:middle" /><a href="${C.ctp}/12.html">&nbsp;联系我们</a></div><div class="artical_line"></div>
		
		
	</div>