<!-- footer begin -->
<div class="footer">
	<div class="footer_left">
		<div class="footer_title"><img src="${C.ctp}/template/wukong/images/footer_servicetime.png" class="small_icon" />&nbsp;服务时间</div>
		<div>线下配送:09:30-21:30</div>
		<div>客服专线:09:30-21:30</div>
		<div>在线下单:00:00-24:00</div>
	</div>
	<div class="footer_center">
		<div class="footer_title"><img src="${C.ctp}/template/wukong/images/footer_help.png" class="small_icon" />&nbsp;帮助中心</a></div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;<a href="${C.ctp}/14.html">服务内容</a></div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;<a href="${C.ctp}/14.html">服务介绍</a></div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;<a href="${C.ctp}/15.html">常用规则</a></div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;<a href="${C.ctp}/16.html">常见问题</a></div>
	</div>
	<div class="footer_right">
		<div class="footer_title"><img src="${C.ctp}/template/wukong/images/footer_about.png" class="small_icon" />&nbsp;关于我们</a></div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;<a href="${C.ctp}/4.html">关于我们</a></div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;<a href="${C.ctp}/12.html">联系我们</a></div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;<a href="${C.ctp}/13.html">商家加盟</a></div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;<a href="${C.ctp}/login">商家登录</a></div>
	</div>
</div>
<div class="beian">${C.name}&nbsp;&nbsp;&copy;${(C.copyright)!"www.j2cms.com"} &nbsp;&nbsp;
  邮箱:${(C.email)!""}&nbsp;
  ${(C.recordCode)!""}</div>
<!-- footer end -->