


/*****************************************************************************************************/


/* global css */
body{margin:0px;padding:0px;background-color:#ffc73f;}
.body_index{ margin:0 auto; color:#333; font-size:12px; font-family:'微软雅黑',Arial,Verdana,Sans-Serif; width:100%; height:100%; background:url(images/index_bg.png) no-repeat 0 0;}
.body_other{ margin:0 auto; color:#333; font-size:12px; font-family:'微软雅黑',Arial,Verdana,Sans-Serif; width:100%; background:url(images/bg.png) repeat-x 0 0;}
div,form,ul,ol,li,span,p{margin:0 auto; padding:0; border:0;}
img,a img{margin:0; padding:0; border:none; }
ul,ol,li{list-style:none;}
table,td,input{font-size:12px;}
.small_icon{vertical-align:middle;}
.mouse_change{cursor:pointer;}
.last_and_next{margin-top:20px;margin-right:35px;float:right;}
.clear{clear:both;font-size:1px;width:1px;height:0;visibility:hidden;margin-top:0px!important;*margin-top:-1px;line-height:0}


/* default link style */
a:link, a:visited{outline-style:none; color:#222;text-decoration:none;}
a:hover{color:#335509; text-decoration:underline;}

/* header */
.header{ margin:0 auto; padding:0 0; width:960px; height:130px;}

/* headerR */
.headerR{ float:right; padding:0 0; width:500px; text-align:right;}

/* tele_login_register */
.tele_login_register{ margin-top:30px; font-size:15px; font-weight:bold;}

/* shares */
.shares {margin-top:27px;}



/* login */
.login{width:960px;height:400px;background-color:#fff;margin-top:25px;}
.login_container{width:860px;height:300px;padding-top:30px;vertical-align:middle;}
.login_title{font-size:18px;font-weight:bold;padding-left:50px;}
.login_line{height:3px;width:948px;background:url(../images/login_line.png) no-repeat 0 0;margin-top:10px;}
.login_body{height:300px;width:800px;margin-top:15px;padding-left:50px;line-height:50px;}
.login_left{float:left;}
#login_name ,#login_password{width:300px;height:25px;}
.login_right{float:right;margin-right:100px;text-align:center;}


/* register */
.register{width:960px;height:500px;background-color:#fff;margin-top:20px;}
.register_container{width:860px;height:200px;padding-top:30px;vertical-align:middle;}
.register_title{font-size:18px;font-weight:bold;padding-left:50px;}
.register_line{height:3px;width:948px;background:url(../images/login_line.png) no-repeat 0 0;margin-top:10px;}
.register_body{height:200px;width:800px;margin-top:30px;padding-left:50px;line-height:50px;}
#register_name, #register_password ,#register_confirm_password, #register_nickname{width:300px;height:25px;}
#register_real_name, #register_phone{width:200px;height:25px;}
#register_address{width:500px;height:25px;}
#register_check{width:100px;height:25px;}

