<div class="footer">
		<div class="foot">
			<ul class="list1">
				<li><h1>友情连接</h1></li>
				<li><a href="https://mp.weixin.qq.com/" title="微信公众平台" target="_blank">微信公众平台</a></li>
				<li></li>
			</ul>
			<ul class="list2">
				<li><h1>帮助中心</h1></li>
				<li><a href="http://www.shopyou.cn/index/help.shtml" title="公众帐号注册">公众帐号注册</a></li>
				<li><a href="http://www.shopyou.cn/index/help.shtml" title="微网站配置">微网站配置</a></li>
				<li><a href="http://www.shopyou.cn/index/help.shtml" title="帐号绑定">帐号绑定</a></li>
			</ul>
			<div class="foot_logo" title="捷兔网络"></div>
			<ul class="list3">
				<li><h1>关于我们</h1></li>
				<li><a href="http://www.shopyou.cn/about/index.shtml">企业文化</a></li>
				<li><a href="http://www.shopyou.cn/about/contact.shtml">联系方式</a></li>
				<li><a href="http://www.shopyou.cn/about/ad.shtml">商务合作</a></li>
				<li><a href="http://www.shopyou.cn/about/agent.shtml">代理我们</a></li>
				<li><a href="http://www.shopyou.cn/about/book.shtml">留言联系</a></li>
			</ul>
			<ul class="list4">
				<li><h1>联系我们</h1></li>
				<li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=75214390&site=qq&menu=yes" title="qq"><i class="qq"></i>QQ：75214390</a></li>
				<li><a href="mailto:j2cms@j2cms.com" title="邮件"><i class="miall"></i>邮件：j2cms@j2cms.com</a></li>
				<li><a title="电话"><i class="weixin"></i>电话：18818232418</a></li>
				<li><a title="地址"><i class="skype"></i> 地址：上海市松江区人民北路2999号东华大学图文信息中心</a></li>
			</ul>
		</div>
		<!--foot-->
		<div class="foot_bottom">
			商友云(shopyou)官方网站 ©2014 邮箱:j2cms@j2cms.com 鄂ICP备08102130号
			<script src="http://s87.cnzz.com/stat.php?id=1766140&web_id=1766140" language="JavaScript" charset="gb2312"></script>
		</div>
	</div>