<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>商友云-|移动电商云平台|微信营销专家|免费微信营销第一平台</title>
<meta name="keywords" content="微信营销,微信,微信网站,微信开发,商友云,企业营销" />
<meta name="description" content="商友云是一个移动电商的云平台" />
<link rel="stylesheet" type="css" href="${C.ctp}/template/shopyou/css/style.css" />
</head>
<body>
	<#include "/head.html" parse=false encoding="UTF-8">

	<div class="banner" id="banner">
		<a class="d1" style="display: none; z-index: 2; background: url(${C.ctp}/template/shopyou/images/index_banner_1.jpg) 50% 50% no-repeat;"></a>
		<!--
		  <a class="d1" style="display: none; z-index: 2; background: url(${C.ctp}/template/shopyou/images/index_banner_2.jpg) 50% 50% no-repeat;"></a>
		  <a class="d1" style="display: block; z-index: 1; background: url(${C.ctp}/template/shopyou/images/index_banner_2.jpg) 50% 50% no-repeat;"></a>
		  -->
		<div class="d2" id="banner_id">
			<ul>
				<li class=""></li>
				<li class=""></li>
				<li class="nuw"></li>
			</ul>
		</div>
		<div class="login">
			<p class="login-title">登录到商友云</p>
			<form id="entityForm" name="entityForm" action="loginCheck" method="post">
				<p class="login-input">
					<input type="text" class="user_name" name="userName" id="userName" placeholder="请输入帐号"/>
				</p>
				<p class="login-input">
					<input type="password" class="pass_word" name="password" id="password" placeholder="登录密码"/>
				</p>
				<p class="login-button">
					<input name="isCodeNeeded" id="isCodeNeeded" type="hidden" value="0" />
					<input name="提交" type="submit" value=" "/>
				</p>
			</form>
			<p class="login-text">
				<samp>
					<a href="register">注册帐号</a>
				</samp>
				<samp>
					<a href="#">忘记密码</a>
				</samp>
				<!--|
            <samp><a href="http://www.shopyou.cn/auth/oauth/type/qq.shtml">QQ登录</a></samp>
            <samp><a href="http://www.shopyou.cn/auth/oauth/type/sina.shtml">新浪登录</a></samp>
            -->
			</p>

		</div>
	</div>
	<div class="row">
		<div class="product">
			<dl>
				<dt>
					<span>核心产品4+2</span> <label>行业套餐+免费域名+免费企业网站</label>
				</dt>
				<a href="#">
					<dd style="margin: 0;">
						<img src="${C.ctp}/template/shopyou/images/1396705806.png" alt="微网站"/> <b>微网站</b> <span>手机端的企业网站</span>
					</dd>
				</a>
				<a href="#">
					<dd>
						<img src="${C.ctp}/template/shopyou/images/1396705871.png" alt="微商城"/> <b>微商城</b> <span>手机微商城营销更给力</span>
					</dd>
				</a>
				<a href="#">
					<dd>
						<img src="${C.ctp}/template/shopyou/images/1396711361.png" alt="微餐饮"/> <b>微餐饮</b> <span>微信订餐一秒搞定</span>
					</dd>
				</a>
				<a href="#">
					<dd>
						<img src="${C.ctp}/template/shopyou/images/1396710949.png" alt="微客服"/> <b>微客服</b> <span>客服微信随时沟通零距离</span>
					</dd>
				</a>
				<dd>
					<h1>域名/网站</h1>
					<a href="http://www.yetnet.cn"> <img src="${C.ctp}/template/shopyou/images/1396801968.png"/> <label>域名注册</label> <font>认证商户送域名</font></a> <a href="http://www.j2cms.com"> <img src="${C.ctp}/template/shopyou/images/1396801997.png"> <label>企业网站</label> <font>配套的企业网站</font></a>
				</dd>
			</dl>
		</div>
	</div>
	
	
	<#include "/foot.html" parse=false encoding="UTF-8">

	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=75214390&site=qq&menu=yes"><img border="0" src="${C.ctp}/template/shopyou/images/qq.png" alt="点击这里给我发消息" title="点击这里给我发消息" style="position: fixed; top: 235px; right: 5px; z-index: 99999;"/></a>
	<script type="text/javascript" src="${C.ctp}/template/shopyou/js/jquery.js"></script>
	<script type="text/javascript" src="${C.ctp}/template/shopyou/js/banner.js"></script>
	<div id="cont10" class="eyestyle" style="height: 34px; width: 69px; position: absolute; top: 28px; left: 31px;">
		<div id="eyblls10" style="position: relative; width: 69px; height: 34px"></div>
	</div>

</body>
</html>